<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>⏳ 无限 VPN — 仅剩 24 小时</title>
    <script>
        function copyToClipboard() {
            const text = document.getElementById("authCode").innerText;
            navigator.clipboard.writeText(text).then(() => {
            }).catch(err => {
                console.error("Failed to copy text: ", err);
            });
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="width: 100%; overflow-x: hidden;">
<table style="box-sizing: border-box; overflow: hidden; margin: 0 auto; padding: 0 20px; width: 100%; max-width: 600px; color: #000;">
    <!-- Logo  -->
    <tr>
        <td>
            <img style="display: block; margin: 0 auto;" src="https://whox.is/mail-icons/whox.png" alt="whox">
        </td>
    </tr>
    <!-- Thanks  -->
    <tr>
        <td style="text-align: center;">
            <p style="margin: 40px auto 0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">
                尊敬的用户，感谢您使用 WhoX VPN 试用账号！
            </p>
            <p style="margin: 24px auto 0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">
                感谢您对我们的信任，我们想为您提供一份特别的礼物。
            </p>
            <p style="margin: 24px auto 0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">
                目前，您只能连接一个国家，并且有速度限制。现在使用优惠码
                <span style="text-decoration: none; color: #0290E0; text-transform: uppercase;">{{ coupon }}</span>，可享受
                <span style="text-decoration: none; color: #0290E0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">35% 折扣</span>，解锁我们服务的全部功能。畅享全球服务器，无任何速度限制。
            </p>
            <p style="margin: 24px auto 0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">
                本优惠有效期为 24 小时，您可在
                <a href="https://whox.is/zh" style="text-decoration: none; color: #0290E0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">whox.is</a>
                网站上使用。
            </p>
        </td>
    </tr>
    <!--  Promo  -->
    <tr>
        <td style="text-align: center; position: relative;">
            <p style="display: inline-block; text-align: center;">
            <span id="authCode" style="text-transform: uppercase;  display: inline-block; margin: 16px 8px 0 0; font-family: Arial, sans-serif; font-size: 32px; line-height: 22px; font-weight: 500; color: #10A6CA;">
           {{ coupon }}
            </span>
                <button onclick="copyToClipboard()" style="margin: 16px 0 0; border: 0; padding: 0; background: transparent; cursor: pointer;">
                    <img style="display: inline-block;" src="https://whox.is/mail-icons/copy.png" alt="copy">
                </button>
            </p>
            <a style="margin: 24px auto 0; display: block; text-decoration: none; color: #F2F4F8; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400; background: #068FC2; max-width: 450px; border-radius: 40px; padding: 14px 24px; box-sizing: border-box;" href="https://whox.is/zh/buy?coupon={{ coupon }}">
                立享 35% 折扣
            </a>
            <p style="margin: 24px auto 0; display: block; text-decoration: none; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400; color: #8796AB; max-width: 540px;">
                如有任何问题，欢迎通过我们网站的
                <a href="https://whox.is/zh" style="text-decoration: none; color: #0290E0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">online chat</a>
                在线聊天
                、
                <a href="https://t.me/who_team" style="text-decoration: none; color: #0290E0; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400;">Telegram</a>
                或发送邮件至
                <a href="mailto:who@whoer.net" style="text-decoration: none; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; font-weight: 400; color: #8796AB;">who@whoer.net</a>.
            </p>
        </td>
    </tr>
    <!-- Fox   -->
    <tr>
        <td>
            <img style="display: block; max-width: 200px; max-height: 200px; margin: 50px auto;" src="https://whox.is/mail-icons/memo.png" alt="fox">
        </td>
    </tr>
    <!--  Footer  -->
    <tr>
        <td style="background: #10101A; padding: 40px 0 34px; box-sizing: border-box; width: 100%; border-radius: 24px;">
            <img style="display: block; margin: 0 auto; width: 136px; height: 40px;" src="https://whox.is/mail-icons/whox-dark.png" alt="whox-dark">
            <table align="center" cellspacing="0" cellpadding="0" style="margin: 24px auto 0; text-align: center;">
                <tr>
                    <td style="width: 24px; height: 24px; padding: 0 12px;">
                        <a style="display: block; cursor: pointer; width: 24px; height: 24px;" href="https://www.youtube.com/@WhoerNetEn/videos">
                            <img style="display: block;width: 24px; height: 15px; padding: 4px 0 0;" src="https://whox.is/mail-icons/youtube.png" alt="youtube">
                        </a>
                    </td>
                    <td style="width: 24px; height: 24px; padding: 0 12px;">
                        <a style="display: block; cursor: pointer; width: 24px; height: 24px;" href="https://www.instagram.com/whoer_net?igsh=enUweXdtanZrMXJr">
                            <img style="display: block; margin: 0 auto; width: 16px; height: 15px; padding: 4px 0 0;" src="https://whox.is/mail-icons/instagram.png" alt="instagram">
                        </a>
                    </td>
                    <td style="width: 24px; height: 24px; padding: 0 12px;">
                        <a style="display: block; cursor: pointer; width: 24px; height: 24px;" href="https://vk.com/whoer">
                            <img style="display: block; margin: 0 auto; width: 22px; height: 22px;" src="https://whox.is/mail-icons/vk.png" alt="vk">
                        </a>
                    </td>
                    <td style="width: 24px; height: 24px; padding: 0 12px;">
                        <a style="display: block; cursor: pointer; width: 24px; height: 24px;" href="https://x.com/{{ mail_icons_x }}">
                            <img style="display: block; margin: 0 auto; width: 16px; height: 15px; padding: 4px 0 0;" src="https://whox.is/mail-icons/x.png" alt="x">
                        </a>
                    </td>
                    <td style="width: 24px; height: 24px; padding: 0 12px;">
                        <a style="display: block; cursor: pointer; width: 24px; height: 24px;" href="https://t.me/whoer_official">
                            <img style="display: block; margin: 0 auto; width: 20px; height: 20px; padding: 2px 0 0;" src="https://whox.is/mail-icons/telegram.png" alt="telegram">
                        </a>
                    </td>
                    <td style="width: 24px; height: 24px; padding: 0 12px;">
                        <a style="display: block; cursor: pointer; width: 24px; height: 24px;" href="https://facebook.com/groups/whoerofficial">
                            <img style="display: block; margin: 0 auto; width: 8px; height: 15px; padding: 4px 0 0;" src="https://whox.is/mail-icons/facebook.png" alt="facebook">
                        </a>
                    </td>
                </tr>
            </table>
            <table align="center" cellspacing="0" cellpadding="0" style="margin: 40px auto 0; text-align: center;">
                <tr>
                    <td style="padding: 0 4px;">
                        <a style="display: block; cursor: pointer;" href="https://play.google.com/store/apps/details?id=com.whoervpn.provider&hl={{ mail_icons_play_google }}">
                            <img style="display: block; margin: 0 auto; width: 135px; height: 38px;" src="https://whox.is/mail-icons/googleplay.png" alt="google-play">
                        </a>
                    </td>
                    <td style="padding: 0 4px;">
                        <a style="display: block; cursor: pointer;" href="https://apps.apple.com/us/app/{{ mail_icons_apple_app }}">
                            <img style="display: block; margin: 0 auto; width: 135px; height: 38px;" src="https://whox.is/mail-icons/appstore.png" alt="app-store">
                        </a>
                    </td>
                </tr>
            </table>
            <p style="color: #BFCBDC; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; margin: 32px auto 0; text-align: center;">
                您可以点击<a style="color: #BFCBDC; text-decoration: underline;" href="https://whoer.net/unsubscribe?email={{ email }}&token={{ unsubscribe_token }}">这里</a>取消订阅。
            </p>
        </td>
    </tr>
</table>
</body>
</html>
